@layer base {
  .kodama-grove-dark {
    --background: 42.35 17.17% 19.41%;
    --foreground: 38.4 40.98% 88.04%;
    --card: 38.57 12.07% 22.75%;
    --card-foreground: 38.4 40.98% 88.04%;
    --popover: 38.57 12.07% 22.75%;
    --popover-foreground: 38.4 40.98% 88.04%;
    --primary: 95 15.79% 55.29%;
    --primary-foreground: 26.67 12% 14.71%;
    --secondary: 40 13.21% 31.18%;
    --secondary-foreground: 38.4 40.98% 88.04%;
    --muted: 38.82 12.98% 25.69%;
    --muted-foreground: 33.33 9.37% 62.35%;
    --accent: 25 30% 35%;
    --accent-foreground: 38.4 40.98% 88.04%;
    --destructive: 9.6 33.63% 56.27%;
    --destructive-foreground: 40 41.18% 90%;
    --border: 40 13.21% 31.18%;
    --input: 40 13.21% 31.18%;
    --ring: 95 15.79% 55.29%;
    --chart-1: 95 15.79% 55.29%;
    --chart-2: 92.43 19.17% 62.16%;
    --chart-3: 104.44 11.3% 46.86%;
    --chart-4: 44.35 27.27% 49.61%;
    --chart-5: 103.64 11.11% 38.82%;
    --success: 142 70% 45%;
    --success-foreground: 144 70% 10%;
    --warning: 48 96% 53%;
    --warning-foreground: 38 92% 10%;
    --emerald: 142 76% 36%;
    --emerald-foreground: 0 0% 100%;
  }
}
