@layer base {
  .mean-blue-cue {
    --background: 225 30% 98%;
    --foreground: 225 71% 3%;
    --muted: 225 7% 95%;
    --muted-foreground: 225 2% 31%;
    --popover: 225 30% 98%;
    --popover-foreground: 225 71% 3%;
    --card: 225 30% 98%;
    --card-foreground: 225 71% 3%;
    --border: 225 13% 91%;
    --input: 225 13% 91%;
    --primary: 225 79% 74%;
    --primary-foreground: 225 79% 14%;
    --secondary: 225 19% 82%;
    --secondary-foreground: 225 19% 22%;
    --accent: 225 25% 75%;
    --accent-foreground: 225 25% 15%;
    --destructive: 17 81% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 225 79% 74%;
    --chart-1: 225 79% 74%;
    --chart-2: 225 19% 82%;
    --chart-3: 225 25% 75%;
    --chart-4: 225 19% 85%;
    --chart-5: 225 82% 74%;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --emerald: 142 76% 36%;
    --emerald-foreground: 0 0% 100%;
  }
}
